@model IEnumerable<WishListManager.Models.wishlist_item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.deleteSuccess == true)
{
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Success!</strong> The wish list item was deleted successfully.
    </div>
}

<h2>Wish Lists</h2>

<a href="/WishlistItem/Add" class="isbutton">
    <input type="button" value="Add New Item" class="btn btn-default" />
</a>

@foreach (var personGroup in Model.Select(i => i.person.name).Distinct().ToList())
{

    <h3>@personGroup</h3>

    <table class="table">
        <tr>
            <th class="col-lg-5">
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th class="col-lg-3">
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th class="col-lg-1">
                @Html.DisplayNameFor(model => model.is_purchased)
            </th>
            <th class="col-lg-2">
                Action
            </th>

            <th></th>
        </tr>

    @foreach (var item in Model.Where( i => i.person.name == personGroup).ToList())
    {
        <tr>
            <td>
                @Html.ActionLink((string)item.description, "Details", new { id = item.id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.is_purchased)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }
    </table>


}
