@model IEnumerable<WishListManager.Models.wishlist_item>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var personGroup in Model.Select(i => i.person.name).Distinct().ToList())
{

    <h3>@personGroup</h3>

    <table class="table">
        <tr>
            <th>
                Description
            </th>
            <th>
                Type
            </th>
            <th>
                Purchased?
            </th>
            <th>
                Action
            </th>

            <th></th>
        </tr>

    @foreach (var item in Model.Where( i => i.person.name == personGroup).ToList())
    {
        <tr>
            <td>
                @Html.ActionLink((string)item.description, "Details", new { id = item.id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.is_purchased)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }
    </table>


}
